{{ ansible_managed | comment }}

[client]
user = {{ mysqld_exporter_mysql_user }}
password = {{ mysqld_exporter_mysql_password }}
host = {{ mysqld_exporter_mysql_host }}
port = {{ mysqld_exporter_mysql_port }}
