{{ ansible_managed | comment }}

[Unit]
Description=Prometheus MySQLd Exporter
After=network.target

[Service]
Type=simple
Restart=always
User={{ mysqld_exporter_user }}
Group={{ mysqld_exporter_group }}
ExecStart={{ mysqld_exporter_install_path }}/mysqld_exporter \
{% if mysqld_exporter_tls_server_config | length or mysqld_exporter_http_server_config | length or mysqld_exporter_basic_auth_users | length %}
    --web.config.file {{ mysqld_exporter_config_path }}/web_config.yaml \
{% endif %}
    --web.listen-address {{ mysqld_exporter_web_listen_address }}:{{ mysqld_exporter_web_listen_port }} \
    --web.telemetry-path {{ mysqld_exporter_web_telemetry_path }} \
    --config.my-cnf {{ mysqld_exporter_config_path }}/mysqld_exporter.cnf \
{% for collector in mysqld_exporter_collectors -%}
    --{{ collector }} \
{% endfor %}
    --log.level {{ mysqld_exporter_log_level }} \
    --log.format {{ mysqld_exporter_log_format }}

[Install]
WantedBy=multi-user.target
