---
name: 'Molecule'
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: 'rockylinux8'
            command: '/usr/sbin/init'
          - distro: 'ubuntu2004'
            command: '/lib/systemd/systemd'
          - distro: 'debian11'
            command: '/lib/systemd/systemd'

    steps:
      - name: 'Checkout the codebase'
        uses: actions/checkout@v2

      - name: 'Test role'
        uses: gofrolist/molecule-action@v2
        with:
          molecule_command: test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_DOCKER_COMMAND: ${{ matrix.command }}
